.homepart1 {
    width: 1250px;
    overflow: hidden;

}

.hometextpart1 {
    position: relative;
    width: 520px;
    top: 200px;

}

.hometextpart1 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--c5);
}

button {
    position: relative;
    top: 20px;
    height: 56px;
    width: 204px;
    background-color: var(--p1);
    border: 0px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--p5);
    text-transform: uppercase;
    border-style: none;
}

.homeimg1 {
    position: relative;
    left: 600px;
    top: -400px
}

.homebikemerch figcaption {
    position: relative;
    width: 360px;

}

.homebikemerch img {
    max-width: 100%;
    height: auto;

}

.homebikemerch h2 {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: var(--c11);
    left: 20px;
}

.homebikemerch h4 {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--c8);
    left: 20px;
}

.homebikmerch table {
    position: relative;
    border-spacing: 50px;
    left: -50px;
}

.hometextpart3 {
    position: relative;
    width: 538px;
}

.hometextpart3 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: var(--c5);
}

.hometextpart3 h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--c5);
}

.hometextpart3 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--p1);
    text-decoration: underline;
}

.hometextblock {
    width: 242px;
}

.hometextblock h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--w);
}

.hometextblock h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--c5);
}

.homeimgpart3 {
    position: relative;
    top: -960px;
    left: 540px;
    width: 700px;
    overflow: hidden;
}

.homeimgpart3 img {
    max-width: 700px;
    height: auto;
}

.homeparceiros table {
    text-align: center;
    border-spacing: 50px;
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
    width: 1200px;
    height: 260px;
}

.homeparceiros table td {
    padding: 0.5rem;
    border: 1px solid var(--c3);
}

.homeparceiros table th {
    padding: 0.5rem;
    border: 1px solid var(--c3);
}
.homedepoimentotext{
    position: relative;
    width: 553px;
    top: -500px;
    left: 700px;
}
.homedepoimentotext h2{
    font-family: 'Merriweather';
font-style: italic;
font-weight: 900;
font-size: 36px;
line-height: 48px;
color: var(--p5);

}
.homedepoimentotext h3{
position: relative;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: var(--p4);
top: 50px;

}

.segprata,
.seggold {
    position: relative;
    overflow: hidden;

}

.segprata {
    background-color: var(--c12);
    height: 396px;
    width: 560px;
    left: 50px;
    top: 100px;

}

.segprata h2 {
    position: relative;
    top: 32px;
    left: 64px;
    text-transform: uppercase;
    color: var(--c6);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;

}

.seggold {
    background-color: var(--c12);
    height: 484px;
    width: 560px;
    left: 680px;
    top: -350px;
}

.seggold h2 {
    position: relative;
    top: 32px;
    left: 64px;
    text-transform: uppercase;
    color: var(--p1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;

}

.seggold h4,
.segprata h4 {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffff;
    margin: 20px;
    left: 30px;
    top: 48px;
}

.segprata i,
.seggold i {
    position: relative;
    right: 15px;
}
.segprata button {
    background-color: var(--c10);
    color: var(--c4);
}

.seggold button {
    background-color: var(--p1);
    color: var(--p5);
}
.seggold .preco {
    top: -388px;
}

.buttonlast {
    position: relative;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    width: 185px;
    height: 56px;
    top: 50px;
    left: 60px;
    border-radius: 5px;

}
.preco {
    position: relative;
    width: 200px;
    top: -302px;
    left: 200px;
    text-align: right;

}

.preco h4 {
    text-transform: lowercase;
    color: var(--c6);
    left: 85px;
    top: 10px;
}

.preco h2 {
    color: var(--w);
}
